<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
        <form class="input-box" action="/account/register" method="post">
            <label>First name<input type="text" name="account_firstname" required autocomplete="given-name"
                    value="<%= locals.account_first_name %>"></label>
            <label>Last name<input type="text" name="account_lastname" required autocomplete="family-name"
                    value="<%= locals.account_last_name %>"></label>
            <label>Email address<input type="email" name="account_email" required autocomplete="email"
                    value="<%= locals.account_email %>"></label>
            <label>Password<input type="password" name="account_password" id="password" required
                    autocomplete="new-password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <div class="eyeContainer">
                    <button class="reveal-button" id="passwordHide">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="eye-icon eye-open">
                            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="eye-icon eye-closed" style="display: none;">
                            <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24" />
                            <path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68" />
                            <path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61" />
                            <line x1="2" x2="22" y1="2" y2="22" />
                        </svg>
                    </button>
                </div>
            </label>
            <span class="fine-print">Password must be 12 characters or longer, contain 1 capital letter, 1 number
                and 1 special character</span>
            <input type="submit" value="REGISTER">
        </form>
        <!-- Script to handle hiding and revealing password field -->
        <script>
            const passwordInput = document.getElementById("password");
            const passwordHide = document.getElementById("passwordHide");
            const eyeOpen = document.querySelector(".eye-open");
            const eyeClosed = document.querySelector(".eye-closed");

            passwordHide.addEventListener("click", () => {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeOpen.style.display = "none";
                    eyeClosed.style.display = "block";
                } else {
                    passwordInput.type = "password";
                    eyeOpen.style.display = "block";
                    eyeClosed.style.display = "none";
                }
            });
        </script>