<section class="hero">
  <h1>Welcome to CSE Motors!</h1>
  <div class="cta-section">
    <h2 class="blue">DMC Delorean</h2>
    <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <button>Own Today</button>
  </div>
  <picture>
    <source media="(max-width: 400px)" srcset="images/vehicles/delorean-tn.jpg">
    <source media="(max-width: 600px)" srcset="/images/vehicles/delorean-tn.jpg">
    <source media="(max-width: 1200px)" srcset="/images/vehicles/delorean.jpg">
    <source media="(min-width: 1201px)" srcset="/images/vehicles/delorean.jpg">
    <img class="hero-image" src="/images/vehicles/delorean.jpg" alt="A picture of the Delorean car" loading="lazy">
  </picture>
</section>
<section class="delorean-wrapper">
  <div class="delorean-upgrade">
    <h2>Delorean upgrades</h2>
    <div class="upgrade-items">
      <figure>
        <img src="/images/upgrades/flux-cap.png" alt="Image showing a Delorean Flux capacitor">
        <figcaption><a href="#">Flux Capacitor</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/flame.jpg" alt="Image showing a Flame decal">
        <figcaption><a href="#">Flame Decal</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of a bumper sticker">
        <figcaption><a href="#">Bumper Stickers</a></figcaption>
      </figure>
      <figure>
        <img src="/images/upgrades/hub-cap.jpg" alt="Image showing a hub-cap">
        <figcaption><a href="#">Hup Caps</a></figcaption>
      </figure>
    </div>
  </div>
  <div class="dmc-delorean">
    <h2>DMC Delorean Reviews</h2>
    <ul class="reviews">
      <li>"So fast it's almost like traveline in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!"w (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80s livin and I love it. (5/5)"</li>
    </ul>
  </div>
</section>